<div class="blog-show">
  <h1><%= @blog.title %></h1>
  <div class="row">
    <% @blog_images.each do |blog_image| %>
      <% cache blog_image do %>
        <div class="col-xs-6 col-md-6">
          <a href="#" class="thumbnail detail">
            <%= image_tag blog_image.image.url(:middle) %>
          </a>
        </div>
      <% end -%>
    <% end -%>
  </div>

  <ul class="list-unstyled">
    <li>
      <% @blog_tags.each do |tag| %>
        <% cache tag do %>
          <span class="badge"><%= tag.title %></span>
        <% end -%>
      <% end -%>
    </li>
  </ul>

  <br />
  <br />
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="javascript:;">具体内容</a></li>
  </ul>

  <br />
  <div>
    <%= markdown @blog.content %>
  </div>

  <br />
  <% @blog.blog_files.each do |blog_file| %>
    <div>
      <video id="my-video" class="video-full-width"  controls preload="auto">
        <source src=<%= download_file_my_house_blog_file_path(blog_file)%> type='video/mp4'>

      </video>
    </div>
  <% end -%>
</div>


<!--<ul class="nav nav-tabs">-->
  <!--<li role="presentation" class="active"><a href="javascript:;">评论</a></li>-->
<!--</ul>-->
<!--<br />-->
<!--<div>-->
  <!--<div class="row">-->
    <!--<% @comments.main_comment.each do |comment| %>-->
      <!--<ul>-->
        <!--<li><%= comment.content%></li>-->
      <!--</ul>-->
    <!--<% end -%>-->
  <!--</div>-->

  <!--<div class="row">-->
    <!--<div class="col-sm-5">-->
      <!--<%= form_for @comment, url: blog_comments_path(@blog.id), method: :post do |f| %>-->
        <!--<div class="form-group">-->
          <!--<ul class="list-unstyled">-->
            <!--<% @comment.errors.messages.values.flatten.each do |error| %>-->
              <!--<li><i class="fa fa-exclamation-circle"></i> <%= error %></li>-->
            <!--<% end -%>-->
          <!--</ul>-->
        <!--</div>-->

        <!--<div class="form-group">-->
          <!--<%= f.text_area :content, class: "form-control", rows: '5', placeholder: "内容" %>-->
        <!--</div>-->

        <!--<div class="form-group">-->
          <!--<%= f.text_field :user_name, class: "form-control", placeholder: "留下您的名字"  %>-->
        <!--</div>-->

        <!--<%= f.submit "发表评论", class: "btn btn-primary" %> -->
      <!--<% end -%>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->