<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="Keywords" content="小赓赓,D-韦德,博客,Ruby,Rails,元编程,Shell" />
    <meta name="Description" content="Ruby on Rails，了解一下～">
    <title>小赓赓 - This is My House</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1519799934832&di=584a4fa9574491afa427f7dc80ea3db1&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fw%3D580%2Fsign%3Dcb024aa92f1f95caa6f592bef9167fc5%2F9e51f8198618367a86bc300a24738bd4b31ce534.jpg">
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= yield :stylesheets %>
  </head>

  <body>
    <%= render 'layouts/menu' %>
    <div class="container">
      <% unless flash[:notice].blank? %>
        <div class="alert alert-info"><%= flash[:notice] %></div>
      <% end -%>
      
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= yield :javascripts %>
  </body>
</html>
