<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="Keywords" content="小赓赓,D-韦德,博客,Ruby,Rails,元编程,Shell" />
    <meta name="Description" content="Ruby on Rails，了解一下～">
    <meta name="baidu-site-verification" content="wL608tRVUd" />
    <meta name="google-site-verification" content="KH8gz3EZlpBKkhT-TB6iPCIx52ShWzgZXpj8oql5NeI" />
    <title>小赓赓 - This is My House</title>
    <link rel="icon" type="image/png" sizes="32x32" href="images/logo.jpg">
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= yield :stylesheets %>
  </head>

  <body>
    <%= render 'layouts/menu' %>
    <div class="container">
      <% unless flash[:notice].blank? %>
        <div class="alert alert-info"><%= flash[:notice] %></div>
      <% end -%>
      
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= yield :javascripts %>
  </body>
</html>
