<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>小赓赓 - This is My House</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1495713466126&di=2e58cf25ab9270461935bbf12e4a9fbe&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fforum%2Fw%3D580%2Fsign%3D0051a6f7edc4b7453494b71efffd1e78%2F6bd9e9c4b74543a98822da1218178a82b8011476.jpg">
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= yield :stylesheets %>
  </head>

  <body>
    <%= render 'layouts/menu' %>
    <div class="container">
      <% unless flash[:notice].blank? %>
        <div class="alert alert-info"><%= flash[:notice] %></div>
      <% end -%>
      
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= yield :javascripts %>
  </body>
</html>
